body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* full height */
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(193, 203, 213);
  padding: 10px;
}

header .logo img {
  max-height: 90px;
  width: auto;
}

nav
{
width:80%;
height: 20%;
float: left;
text-align: center;
padding-left: 5;
padding-top: 20;
background-color: rgb(193, 203, 213);
color: white;
}

nav a {
    color: rgb(52, 61, 66);
    font-size: 18px;
    font-family: Arial;
}

nav a:hover {
  color: rgb(116, 138, 149);
    font-size: 18px;
    font-family: Arial;
}

main {
  flex: 1;
  padding: 20px;
}

h1{
    color: rgb(52, 61, 66);
    font-size: 22px;
    font-family: Arial;
    text-align: center;
}

p{
    color: rgb(52, 61, 66);
    font-size: 15px;
    font-family: Arial;
    text-align: left;
}

footer {
  background-color: rgb(193, 203, 213);
  color: white;
  padding: 15px;
  text-align: center;
}

 .socials {width:100%;
    margin: 0 5px;
    height: 20%;
    float: left;
    padding-left: 5;
    padding-top: 10;
    background-color: rgb(193, 203, 213);
    color: white;
 } 

table, th, td {
  border: 1px solid rgb(52, 61, 66);
  border-collapse: collapse;
  padding: 5px;
  font-size: 15px;
    font-family: Arial;
    text-align: left;
}

table {
  width: 40%;
  margin-bottom: 20px;
}
